<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <queries><intent><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent></queries>
 <application android:label="CasaNotify Celular">
  <activity android:name=".ControlActivity" android:exported="true" android:windowSoftInputMode="adjustResize"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
  <activity android:name=".PhoneActivity" android:exported="false"/>
  <service android:name=".PhoneNotificationService" android:exported="true" android:label="CasaNotify — avisos para TV" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"><intent-filter><action android:name="android.service.notification.NotificationListenerService"/></intent-filter></service>
 </application>
</manifest>
